{{ if and .Values.tools.coredns.enable .Values.tools.coredns.autoDelegate }}
apiVersion: batch/v1
kind: Job
metadata:
  name: post-install-autodelegate
  namespace: {{ .Values.tools.namespace }}
  annotations:
    "helm.sh/hook": post-install
spec:
  backoffLimit: 3
  template:
    spec:
      containers:
        - command:
            - /bin/bash
            - /scripts/create.sh
          image: quay.io/kuadrant/testsuite-pipelines-tools:latest
          name: post-install
          volumeMounts:
            - name: script-volume
              mountPath: /scripts
          resources: {}
          envFrom:
            - secretRef:
                name: coredns-autodelegate
      volumes:
        - name: script-volume
          configMap:
            name: post-install-autodelegate
      serviceAccountName: post-install-autodelegate-sa
      restartPolicy: OnFailure
{{ end }}
