{{ if .Values.tools.coredns.enable }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns
  namespace: {{ .Values.tools.namespace }}
  labels:
    app: coredns
data:
  Corefile: |-
    . {
      health {
        lameduck 5s
      }
      ready
    }
    {{- range .Values.tools.coredns.zones  }}
    {{ . }} {
      debug
      errors
      ready
      log
      geoip GeoLite2-City-demo.mmdb {
        edns-subnet
      }
      metadata
      transfer {
        to *
      }
      kuadrant {
        rname kuadrant-qe-infra@redhat.com
      }
      prometheus 0.0.0.0:9153
    }
    {{ end }}

{{ end }}
